@model IEnumerable<ImageClassifierUI.Models.ResultatPrediction>

@{
    ViewData["Title"] = "Classification d'images";
}

<h2>Classification d'image</h2>

<form asp-controller="Prediction" asp-action="Predict" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="fichierImage">Choisissez une image :</label>
        <input type="file" name="fichierImage" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Prédire</button>
</form>

@if (Model != null && Model.Count() > 0)
{
    <h3 class="mt-4">Résultat :</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Classe</th>
                <th>Probabilité</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Label</td>
                    <td>@($"{item.Probabilite:P2}")</td>
                </tr>
            }
        </tbody>
    </table>
}
